<h1>Sightings</h1>

<ul>
  <% @sightings.each do |sighting| %>
    <li><a href="/sightings/<%= sighting.id %>"> <mark>On </mark><%= sighting.date %> I saw a <%= Specie.find_by(sighting.specie_id).name %> in <%= Region.find_by(sighting.region_id).name %> @ <%= sighting.latitude %> : <%= sighting.longitude %></a></li>
  <% end %>
</ul>

<p><a href="/sightings/new">Create a new Sighting</a></p>
